{% extends 'base.html' %}
{% load static %}


{% block title %} Sports Scores {% endblock %}

{% block content %}
<h2 class="text-center"> Homepage </h2>

{% load tz %}
<p>Current Time: {% now "SHORT_DATETIME_FORMAT" %} --- {% now "jS F Y H:i" %}</p>


<!--<p> {{ Chelsea }} </p>-->








<table>
    <tr>
        <th>Premier League</th>
        <th>NFL</th>
    </tr>
    {% for d1, d2 in deuce %}
    <tr>
        <div class="row justify-content-center">
            {% if d1.Teams != None %}
                <p class="col-md-2 text-end"> {{ d1.Teams.Home }} </p>
                <p class="col-md-1 text-center"> V </p>
                <p class="col-md-2 text-left"> {{ d1.Teams.Away }} </p>
            {% else %}
                <p class="col-md-2 text-end"></p>
                <p class="col-md-1 text-center"></p>
                <p class="col-md-2 text-left"></p>
            {% endif %}

            {% if d2.Teams.Home != None or d2.Teams.Away != None %}
                <p class="col-md-2 text-end"> {{ d2.Teams.Home }} </p>
                <p class="col-md-1 text-center"> V </p>
                <p class="col-md-2 text-left"> {{ d2.Teams.Away }} </p>
            {% else %}
                <p class="col-md-2 text-end"></p>
                <p class="col-md-1 text-center"></p>
                <p class="col-md-2 text-left"></p>
            {% endif %}


        </div>
        <div class="row justify-content-center">
            <p class="col-md-5 text-center">

                {% if d1.Date_Time != None %}
                    {{ d1.Date_Time.Month }} -
                    {{ d1.Date_Time.Day }} -
                    {{ d1.Date_Time.Year }} @
                    {{ d1.Date_Time.Hour }} :
                
                    <!-- 
                        The minute is an integer so it will not return 
                        two 0's 
                    -->
                    {% if d1.Date_Time.Minute == 0 %}
                    {{ d1.Date_Time.Minute }}0
                    {% else %}
                        {{ d1.Date_Time.Minute }}
                    {% endif %} 
                {% endif %}   
            </p>

            <p class="col-md-5 text-center">
                {% if d2.Date_Time != None %}
                    {{ d2.Date_Time.Month }} -
                    {{ d2.Date_Time.Day }} -
                    {{ d2.Date_Time.Year }} @
                    {{ d2.Date_Time.Hour }} :
                
                    <!-- 
                        The minute is an integer so it will not return 
                        two 0's 
                    -->
                    {% if d2.Date_Time.Minute == 0 %}
                    {{ d2.Date_Time.Minute }}0
                    {% else %}
                        {{ d2.Date_Time.Minute }}
                    {% endif %} 
                {% endif %}   
            </p>
        </div>
        
    </tr>
    {% endfor %}
</table>








<table>
    <div class="row justify-content-center">
        <h1 class="col-md-4 text-center"> {{ Premier_League.0.Display_Name }} </h1>
        <h1 class="col-md-4 text-center"> {{ NFL.0.Display_Name }} </h1>
    </div>
    {% for d1, d2 in deuce %}
        <div class="row justify-content-center">
            <p class="col-md-2 text-end"> {{ d1.Teams.Home }} </p>
            <p class="col-md-1 text-center"> V </p>
            <p class="col-md-2 text-left"> {{ PL_Game.Teams.Away }} </p>
        </div>  
        <div class="row justify-content-center">
            <p class="col-md-5 text-center">
                {{ PL_Game.Date_Time.Month }} -
                {{ PL_Game.Date_Time.Day }} -
                {{ PL_Game.Date_Time.Year }} @
                {{ PL_Game.Date_Time.Hour }} :
                <!-- 
                    The minute is an integer so it will not return 
                    two 0's 
                -->
                {% if PL_Game.Date_Time.Minute == 0 %}
                {{ PL_Game.Date_Time.Minute }}0
                {% else %}
                    {{ PL_Game.Date_Time.Minute }}
                {% endif %}    
            </p>
        </div>
    {% endfor %} 
    <br>
    <hr>
    <br>

    <div class="row justify-content-center">
        <h1 class="col-md-4 text-center"> {{ NFL.0.Display_Name }} </h1>
    </div>
    {% for game in NFL %}

        <div class="row justify-content-center">
            <p class="col-md-2 text-end"> {{ game.Teams.Home }} </p>
            <p class="col-md-1 text-center"> V </p>
            <p class="col-md-2 text-left"> {{ game.Teams.Away }} </p>
        </div>  
        <div class="row justify-content-center">
            <p class="col-md-5 text-center"> 
                {{ game.Date_Time.Month }} -
                {{ game.Date_Time.Day }} -
                {{ game.Date_Time.Year }} @
                {{ game.Date_Time.Hour }} :
                
                <!-- 
                    The minute is an integer so it will not return 
                    two 0's 
                -->
                {% if game.Date_Time.Minute == 0 %}
                {{ game.Date_Time.Minute }}0
                {% else %}
                    {{ game.Date_Time.Minute }}
                {% endif %}
            </p>
        </div>
        

        <br>
    {% endfor %}


<!-- For Chelsea's Schedule -->
<!--
{% for game in Premier_League_Chelsea_Games %}


    
    {% if game.status == 'Now' %}
        <div class="row justify-content-center text-success">

            <p class="col-md-2 text-end"> {{ game.home_team }} </p>

            {% if game.home_score == None %}
                <p class="col-md-1 text-center"> V </p>
            {% else %}
                <p class="col-md-1 text-center"> 
                    {{ game.home_score }} - {{ game.away_score }}
                </p>
            {% endif %}
            <p class="col-md-2 text-lg-right"> {{ game.away_team }} </p>


        </div>  
        <div class="row justify-content-center">
            <p class="col-md-5 text-center"> {{ game.date }} </p>
        </div>
    
    {% else %}
        <div class="row justify-content-center">

            <p class="col-md-2 text-end"> {{ game.home_team }} </p>

            {% if game.home_score == None %}
                <p class="col-md-1 text-center"> V </p>
            {% else %}
                <p class="col-md-1 text-center"> 
                    {{ game.home_score }} - {{ game.away_score }}
                </p>
            {% endif %}
            <p class="col-md-2 text-lg-right"> {{ game.away_team }} </p>


        </div>  
        <div class="row justify-content-center">
            <p class="col-md-5 text-center"> {{ game.date }} </p>
        </div>
    {%endif%}





    <br><br><br>
{% endfor %}
    -->

<!--
{% for game in Premier_League_Chelsea_Games %}

    <div class="row justify-content-center">

        <p class="col-md-2 text-end"> {{ game.home_team }} </p>

        {% if game.home_score == None %}
            <p class="col-md-1 text-center"> V </p>
        {% else %}
            <p class="col-md-1 text-center"> 
                {{ game.home_score }} - {{ game.away_score }}
            </p>
        {% endif %}
        <p class="col-md-2 text-lg-right"> {{ game.away_team }} </p>


    </div>  
    <div class="row justify-content-center">
        <p class="col-md-5 text-center"> {{ game.date }} </p>
    </div>
    <div class="row justify-content-center">
        <p class="col-md-5 text-center"> {{ game.week }} </p>
    </div>
    <br>

{% endfor %}
-->






<p> {{ Json_Data.json_data }}</p>


{% endblock %}