{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} Sports Scores {% endblock %}

{% block content %}
<h2 class="text-center"> Homepage </h2>

{% load tz %}
<p>Current Time: {% now "SHORT_DATETIME_FORMAT" %} --- {% now "jS F Y H:i" %}</p>


<!--<p> {{ Chelsea }} </p>-->




{% for group in Premier_League|group_in_threes %}
  <div class="group">
    <div class="row">

    {% for d1 in group %}
    <div class="card col-md-2" style="margin:2px;">
        <ul class="list-group list-group-flush">
        
            <li class="list-group-item"> {{d1.Teams.Home}}</li>
            <li class="list-group-item"> {{d1.Teams.Away}} </li>
            <li class="list-group-item"> 
                {{d1.Date_Time.Day_of_Week}},
                {{d1.Date_Time.Month}} -
                {{d1.Date_Time.Day}} -
                {{d1.Date_Time.Year}}
                {{d1.Date_Time.Hour}} :
                {{d1.Date_Time.Minute}}
            </li>
        
        </ul>
    </div>
    {% endfor %}

    </div>
  </div>
{% endfor %}

<br><br><br>

{% for d1, d2 in deuce %}
<div class="card col-md-2">
    <ul class="list-group list-group-flush">
    
    <li class="list-group-item"> {{d1.Teams.Home}}</li>
    <li class="list-group-item"> {{d1.Teams.Away}} </li>
    
    
    </ul>
</div>
<br>
{% endfor %}





<table class="table table-striped" style="table-layout: fixed;">   

    <thead>
        <tr>
            <th scope="col">One</th>
            <th scope="col">Two</th>
        </tr>
    </thead>

    {% for d1, d2 in deuce %}

    <tr>
        <td class="col-md-2 text-end">{{d1.Teams.Home}}</td>
        <td class="col-md-1 text-center"> v </td>
        <td class="col-md-2 ">{{d1.Teams.Away}}</td>

        <td class="col-md-2 text-end">{{d2.Teams.Home}}</td>
        <td class="col-md-1 text-center"> v </td>
        <td class="col-md-2">{{d2.Teams.Away}}</td>
    </tr>
    <tr style="border:1px solid black;">
        <td class="col-md-5">{{d1.Date_Time.Day_of_Week}}
        {{d1.Date_Time.Month}}
        {{d1.Date_Time.Day}}
        {{d1.Date_Time.Year}}
        {{d1.Date_Time.Hour}}
        {{d1.Date_Time.Minute}}</td>
        
        

        <td class="offset-md-2 col-md-5">{{d2.Date_Time.Day_of_Week}}
        {{d2.Date_Time.Month}}
        {{d2.Date_Time.Day}}
        {{d2.Date_Time.Year}}
        {{d2.Date_Time.Hour}}
        {{d2.Date_Time.Minute}}</td>
        
    </tr>

    
    {% endfor %}
</table>











<!-- For Chelsea's Schedule -->
<!--
{% for game in Premier_League_Chelsea_Games %}


    
    {% if game.status == 'Now' %}
        <div class="row justify-content-center text-success">

            <p class="col-md-2 text-end"> {{ game.home_team }} </p>

            {% if game.home_score == None %}
                <p class="col-md-1 text-center"> V </p>
            {% else %}
                <p class="col-md-1 text-center"> 
                    {{ game.home_score }} - {{ game.away_score }}
                </p>
            {% endif %}
            <p class="col-md-2 text-lg-right"> {{ game.away_team }} </p>


        </div>  
        <div class="row justify-content-center">
            <p class="col-md-5 text-center"> {{ game.date }} </p>
        </div>
    
    {% else %}
        <div class="row justify-content-center">

            <p class="col-md-2 text-end"> {{ game.home_team }} </p>

            {% if game.home_score == None %}
                <p class="col-md-1 text-center"> V </p>
            {% else %}
                <p class="col-md-1 text-center"> 
                    {{ game.home_score }} - {{ game.away_score }}
                </p>
            {% endif %}
            <p class="col-md-2 text-lg-right"> {{ game.away_team }} </p>


        </div>  
        <div class="row justify-content-center">
            <p class="col-md-5 text-center"> {{ game.date }} </p>
        </div>
    {%endif%}





    <br><br><br>
{% endfor %}
    -->

<!--
{% for game in Premier_League_Chelsea_Games %}

    <div class="row justify-content-center">

        <p class="col-md-2 text-end"> {{ game.home_team }} </p>

        {% if game.home_score == None %}
            <p class="col-md-1 text-center"> V </p>
        {% else %}
            <p class="col-md-1 text-center"> 
                {{ game.home_score }} - {{ game.away_score }}
            </p>
        {% endif %}
        <p class="col-md-2 text-lg-right"> {{ game.away_team }} </p>


    </div>  
    <div class="row justify-content-center">
        <p class="col-md-5 text-center"> {{ game.date }} </p>
    </div>
    <div class="row justify-content-center">
        <p class="col-md-5 text-center"> {{ game.week }} </p>
    </div>
    <br>

{% endfor %}
-->






<p> {{ Json_Data.json_data }}</p>


{% endblock %}